<!DOCTYPE html>

<html>
  <head>
    <title>My Table</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h1>Your Invoice</h1>
    <table style="width: 100%">
      <tr>
        <th>Qty.</th>
        <th>Unit Price</th>
        <th>Total Cost</th>
      </tr>
      <% if (products.length) { %>
      <tr>
        <% products.forEach(function (product) { %>
        <td id="quantity"><%= product.quantity %></td>
        <td id="unitPrice"><%= product.unitPrice %></td>
        <td id="totalPrice"><%= product.totalPrice %></td>
        <% }) %>
      </tr>
      <% } %>
    </table>
  </body>
</html>
